<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">course 1</h5>
       
      </div>
      <p class="mb-1">full stack pg java</p>
      <small>6 months -100000 rs</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">course 2</h5>
          </div>
      <p class="mb-1">full stack pg python</p>
      <small class="text-muted">6 months - 100000 rs.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">course 3</h5>
        <small class="text-muted"></small>
      </div>
      <p class="mb-1">AWS</p>
      <small class="text-muted">6 months - 200000 rs</small>
    </a>
  </div>